* {
    font-family: Verdana, Geneva, sans-serif;
}

path {
    /* stroke: #; */
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: black;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    /* display: none; */
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

/* .dragLine.active { */
/*     /\* color: blue; *\/ */
/*     /\* opacity: 0.5; *\/ */
/*     /\* stroke: #099; *\/ */
/* } */
.dragger {
    opacity: 0.5;
    fill: lightgrey;
}
.dragLine {
    opacity: 0.5;
    stroke: lightgrey;
}
.dragger.active {
    fill: #099;
}
/* .dragHandle { */
/*     opacity: 0.5; */
/* } */

/* .dragHandle.active { */
/*     fill: #099; */
/* } */

.sliderHandle {
    opacity: 0.5;
    fill: #999;
}

.sliderHandle.active {
    fill: #099;
}

.tick {
    font-size: 11;
}

.axisTitle {
    font-size: 13;
}
.axisUnit {
    font-size: 14;
}

.sliderTitle {
    font-size: 13;
}
.sliderVal {
    font-size: 14;
}

.restoreText {
    font-size:13;
    cursor:default;
}
.restoreButton {
    fill: #eee;
    opacity:0.5;
}

/* .restoreText.active { */
/*     font-family: "Verdana"; */
/*     font-size:13; */
/* } */
.restoreButton.active {
    fill: #099;
}

.backgroundBox {
    width: 100%;
    height: 100%;
    fill: white;
    opacity: 0.5;
    stroke: #099;
    stroke-width: 4;

  /* .attr("width","100%").attr("height","100%") */
  /* .attr("fill","#FFF") */
  /* .attr("stroke", "#099") */
  /* .attr("stroke-width", 5) */
  /* .attr("rx",10).attr("ry",10) */
  /* .attr("opacity",1.0) */
}